.userList{
    flex: 4;
}
.userListItem{
    display: flex;
    align-items: center;
    
}
.userListImg{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}
.userListEdit{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(122, 240, 173);
    color: white;
    margin-right: 10px;
    cursor: pointer;
}
.userListDelete{
    color: red;
    cursor: pointer;
}